extends layout

block content
  h1 Welcome to ITMD 442 - Lab 2 
  p  by Xiaojie Luo
  h2 Introduction
  p Hello, welcome to my Lab 2 page. On this site you can create a contact database where you can fill in your last name, first name, email and note. Among other things, the site automatically generates a contact ID as a key for each message and the time you last clicked on the data. User also allowed to edit and delete the record they want.
  p Please click the below link to create a new contact information or view created database!
  a(href='/contacts/') Try to Create Your Contact Infomatio!!
  h2 Contact Information
  p Xiaojie Luo
  p xluo30@hawk.iit.edu
